/* home page */

.home {
    padding-top: 8rem;
    text-align: center;
    overflow-x: hidden;
    min-height: 80vh;
  }
  
  .home h3 {
    color: var(--black);
    font-size: 7vw;
    text-transform: uppercase;
  }
  
  .home img {
    width: 100%;
    margin: 0.5rem 0;
  }
  